* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(rgb(143, 77, 219),rgb(76, 94, 199));
    font-family: "Readex Pro";
    color: blanchedalmond;
}

.area,
.temp {
    height: 30vh;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.temp {
    flex-direction: column;
}



.degree {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.degree span{
    margin: 10px;
    font-size: 30px;
}

.degree h2{
    font-size: 30px;
}
